.text {
    color: #ffe700;
}

table, th, td {
    border: 1px solid rgb(153, 153, 153);
    border-collapse: collapse;
    background-color: #404040;
}

.info {
    background-color: #404040;
    width: 350px;
    margin: 5px;
    padding: 3px;
    border-radius: 2px;
}

.map {
    background-color: #292929;
    border-radius: 5px;
    width: 1000px;
    padding: 7px;
    margin: 14px;
}

.form-popup {
    display: block;
    position: fixed;
    left: 47.5%;
    top: 5%;
    transform: translate(-45%, 5%);
    z-index: 9;
    filter: drop-shadow(0 8px 8px rgba(3, 4, 3, 0.5));
}

.form-container {
    border-radius: 4px;
    padding: 15px;
    background-color: #000000;
}

.attackbtn, .stopbtn {
    padding: 5px;
    background-color: black;
    border-radius: 2px;
    color: #ffe700;
    text-decoration: none;
    font-weight: bold;
}

.btn {
    margin-top: 3px;
}

.attackbtn:hover {
    cursor: pointer;
    background-color: rgb(12, 12, 12);
}

.container {
    padding: 7px;
}

.attack-div {
    background-color: #292929;
    height: min-content;
    padding: 5px;
    margin-bottom: 13px;
    border-radius: 2px;
    width: 1000px;
}

tspan {
    display: none;
}

html {
    background-color: black;
    font-family: Arial, Helvetica, sans-serif;
}
